<%= render 'shared/error_messages' %>
<%= render 'posts/form' if signed_in? %>
<div class="ui middle aligned grid container">
  <div class="sixteen wide column">
    <div class="ui segment">
    <div class="ui divided items">

      <% @posts.each do |post| %>
          <div class="item">
            <div class="content">
              <%= content_tag(:div, '', class: "description") do %>
                <%= content_tag(:p, post.body) %>
              <% end %>
              <% if signed_in? %>
                <%= content_tag(:div, '', class: "extra") do %>
                  <%= "#{distance_of_time_in_words(post.created_at, Time.zone.now)} ago by #{post.user.name}" %>
                <% end %>
              <% end %>
            </div>
          </div>
      <% end %>

    </div>
    </div>
  </div>

  <div class="column">
  </div>
</div>
